.leftContainer {
    position: relative;
    animation: aboutAnimation 1s ease-in;
}




@keyframes aboutAnimation {
    0% {
        right: 200%;
    }
    25% {
        right: 150%;
    }
    50% {
        right: 100%;
    }
    60% {
        right: 90%;
    }
    75% {
        right: 70%;
    }
    85% {
        right: 50%;
    }
    95% {
        right: 20%;
    }
    100% {
        right: 0;
    }
}