.leftContainer {
    position: relative;
    animation: aboutAnimation 3s;
}

.rightContainer {
    position: relative;
    animation: aboutAnimationTop 5s;
}

.aboutSection {
    min-height: 40rem;
}




@keyframes aboutAnimation {
    0% {
        opacity: 0;
        transform: translate3d(-200%, 0, 0);
        cursor: pointer;
        transition: 0.25s all ease-in-out;
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes aboutAnimationTop {
    0% {
        opacity: 0;
        transform: translate3d(0, -200%, 0);
        cursor: pointer;
        transition: 0.25s all ease-in-out;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}